body {
	background-color: #8a005a;
background-image: url(http://www.transparenttextures.com/patterns/cardboard-flat.png);
	width: 100%;
	color: black;
	margin: 0;
	padding: 0;
	font-family: "Titillium Web", sans-serif;
	text-align: center;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 5.0em;
	font-weight: 200;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

div {
	background: rgba(22,18,26,0.33);
	-webkit-border-radius: 30px;
	border-radius: 30px;
	margin: 10px;
	padding: 5px;
}

.map, .details, .footer, #nav {
	float: none;
	padding: 20px;
	vertical-align: top;
	background-color: rgba(255,255,255, 0.5);
}

.map{
	width: 50%;
	display: table-cell;
	text-align: center;
}

.details{
	width:50%;
	display: table-cell;
}


.container {
	margin: auto;
	background: none;
	color: #20031E;
	display: table;
	width: 900px;
}

div.header {
	background-color: #C299AD;
	background-attachment: fixed;
	color: #660033;
	margin: 0;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

/*FOOTER STYLING*/

/*#nav {
	margin: auto;
	font-size: 2em;
	width: 860px;
	text-align: left;
}*/

.metro-nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .metro-nav li {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  .metro-nav li a {
    display: block;
    padding: 10px;
    transition: all 0.1s;
  } 

  .metro-nav {
  background: #9c3;
  width: 80%;
  margin: 20px auto;
}
.metro-nav li {
  margin: 0px;
}
.metro-nav li a {
  color: #590;
  text-decoration: none;
  padding: 20px 25px;
  margin: 0;
}

.metro-nav li a:hover,
.metro-nav li a.active {
  color: #250;
  background: #8b3;
}

.footer {
	margin: auto;
	height: 5px;
	font-size: 0.75em;
	width: 100%;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}