html, body {
	margin: 0;
	padding: 0;
	font-family: "Titillium Web", sans-serif;	background-color: #170016;
	background-image: url(http://www.transparenttextures.com/patterns/stardust.png);
	color: #14000A;
	text-align: left;
}

h1 {
	color: white;
	font-weight: 200;
	font-size: 3em;
	text-shadow: 4px 4px 0px rgba(178,128,153,0.5);
}

table {
	padding: 20px;
}

th {
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

span {
	margin-right: 50px;
	color: white;
}

#header, #navbar, .container {
	width: 900px;
	margin: auto;
}

#header {
	background-color: none;
}

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

.container{
	background-color: rgba(255,255,255,0.5);
	margin-bottom: 10px;
}