/*BODY STYLING*/

body {
	background-image: url("http://i61.tinypic.com/k3noyu.jpg");
	background-size: cover;
	color: white;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	text-align: center;
}

/*BUTTON STYLING*/

.button:hover{ /*all will have the same hover style TBD*/

}

.button{ /*All will have the same shape*/

}

/*SEARCH BAR STYLING*/



