body {
 	margin: 0;
 	padding: 0;
 	background-image: url("http://i61.tinypic.com/k3noyu.jpg");
	background-attachment: fixed;
	color: #1B0040;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
}

div {
	margin: 0;
	padding: 0;
}

.nav {
}

.main {
	background-color: black;
	width: 100%;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.container {
	width: 30%;
	height: 50%;
	display: block;
}

.map {
	width: 50%;
}

.map iframe {
	max-width: 50%;
	max-height: 50%;
	margin: auto;
	display: block;
}

h1 {
 	font-size: 5.5em;
 	padding: none;
 	margin: 0;
}
 
h3 {
 	font-size: 3em;
 	padding: none;
 	margin: 0 0 40px 0;
}

div {
	text-align: left;
	margin: 10px;
	padding: 10px;
	background: rgba(255,255,255,0.75);
	-webkit-border-radius: 30px;
	border-radius: 30px;
}

.header {
	color: white;
	text-align: left;
	background: none;
}

.container {
	float: right;
	width: 60%;
}

.footer {
	clear: both;
}