body {
	background-image: url("http://i61.tinypic.com/k3noyu.jpg");
	width: 100%;
	color: black;
	margin: 0;
	padding: 0;
	font-family: "Titillium Web", sans-serif;
	text-align: center;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 5.5em;
	font-weight: 200;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

div {
	background: rgba(22,18,26,0.33);
	-webkit-border-radius: 30px;
	border-radius: 30px;
	margin: 10px;
	padding: 5px;
}

.map, .details, .footer, .nav {
	float: none;
	padding: 20px;
	vertical-align: top;
	background-color: rgba(255,255,255, 0.5);
}

.map{
	width: 50%;
	display: table-cell;
	text-align: center;
}

.details{
	width:50%;
	display: table-cell;
}


.container {
	margin: auto;
	background: none;
	color: #20031E;
	display: table;
	width: 900px;
}

.header {
	background-image: url("http://i61.tinypic.com/k3noyu.jpg");
	background-attachment: fixed;
	color: white;
	margin: 0;
}

/*FOOTER STYLING*/

.nav {
	margin: auto;
	font-size: 2em;
	width: 860px;
	text-align: left;
}

.footer {
	margin: auto;
	font-size: 0.75em;
	width: 860px;
}